html {
    font-family: 'Avenir';
    -webkit-appearance: none ;
}

input {
    padding: 10px;
    margin-top: 10px;
}

a:visited{
    text-decoration: none;
    color: black;
}

p {
    font-size: large;
    display: inline-block;
}

#container-page{
    display: flex;
    height: 100%;
    flex-direction: column;
}

#container-main {
    display: flex;
}

#container-med {
    display:flex;
    margin: 3%;
    position: relative;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}


/* ------------------------ NAVBAR ------------------------ */

#container-navbar {
    width: 100%;
    height: 90px;
    background-color: #52b7df;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 2px 5px 5px  #d3d2d2;
    align-items: center;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.navbar-elem{
    background-color: white;

    font-size: larger;

    display: flex;
    justify-content: center;
    align-items: center;

    float:right;
    margin: 0.5%;
    width: 10%;
    height: 70px;

    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px  #f1f2f3b4;

    text-decoration: none;
}


.navbar-elem:visited{
    color: #52b7df;
}

.navbar-elem:hover {
    margin-top: 10px;
}

#nav-title {
    margin: 1%;
    font-size:x-large;
    font-weight: 500;
}



#cont-buttons {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: flex-end;
}

/* ------------------------ FORM ------------------------ */

.container-form{

    margin-top: 3%;
    background-color: #52b7df;
    width: 100%;
    height: fit-content;

    border-radius: 20px;
    box-shadow: 1px 2px 5px 5px  #d3d2d2;
}

form {    
    width: 40%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
    text-align: justify;
    padding: 10px;
    
    justify-content: center;
    align-items: center;
}

input {
    font-size: larger;
    -webkit-appearance: none !important;
    margin: 5px;
    border-radius: 20px;
    width: 300px;
    height: 70px;
    text-align: center;
}

/* ------------------------ CARD ------------------------*/

.card-med {
    
    /*proprietà posizioni*/
    position: relative;
    
    margin: 10px;
    height: 300px;
    width: 200px;

    border-radius: 25px;
    box-shadow: 1px 2px 5px 5px  #d3d2d2;

    /*proprietà flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-med:hover {
    margin-top: 20px;
}


/* ------------------------ SIDEBAR ------------------------ */

.sidebar {
    display: flex;
    margin-top: 3%;
    position: relative;
    width: 30%;
}

#sidebar-sx{
    float: left;
    margin-left: 10%;
}

#sidebar-dx{
    float: right;
    margin-right: 10%;
}

