html {
    font-family: 'Avenir';
}


input {
    padding: 10px;
    margin-top: 10px;
}

#container-navbar {
    width: 100%;
    height: 90px;

    background-color: #52b7df;
    
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 2px 5px 5px  #d3d2d2;

    align-items: center;
    display: flex;
    align-content: center;

}

.navbar-elem{
    background-color: white;

    font-size: larger;

    display: flex;
    justify-content: center;
    align-items: center;

    float:right;
    margin: 0.5%;
    width: 10%;
    height: 70px;

    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px  #86bdd2c1;

    text-decoration: none;
}

.navbar-elem:hover {
    margin-top: 10px;
}

#nav-title {
    margin: 1%;
    font-size:x-large;
    font-weight: 500;
}

#signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding: 10px;
}

.form-elem {
    margin: 10px;
    border-radius: 100px;
}

.card-med {
    
    /*proprietà posizioni*/
    position: relative;
    
    margin: 1%;
    height: 300px;
    width: 200px;

    border-radius: 25px;
    box-shadow: 1px 2px 5px 5px  #d3d2d2;

    /*proprietà flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-med:hover {
    margin-top: 20px;
}
