
html {
    font-family: Arial, Helvetica, sans-serif;
}

#container-navbar {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
}

#container{
    display: flex;
    justify-content:center
}

.form-elem {
    margin: 10px;
}